<div>
    <img [src]="user.photo" [alt]="user.name" />
    <p>{{user.firstName}} {{user.name}} </p>
    <!-- <p [hidden]="canShowAge">{{user.age}}</p> -->
    <p *ngIf="canShowAge">{{user.age}}</p>
    <p>{{user.quote}} </p>
    <input type="text" [(ngModel)]="user.quote"> <br> <br>
    <button (click)="showAge()">Show/Hide Age</button>

</div>

<h1 appHighlight>Raclette</h1>
<ul>
    <li>Pommes de terre</li>
    <li [ngStyle]="{backgroundColor:isVital ? 'red' : 'yellow'}">Raclette</li>
    <li>Jambon</li>
    <li [ngClass]="{'vital' : isVital}">Cornichons</li>
    <li>Chou-fleur</li>
</ul>

<ul *appDisplayGuests="isListDisplayed">
    <li>Aylin</li>
    <li>Amina</li>
    <li>Allan</li>
    <li>Jabir</li>
    <li>Mavie</li>
</ul>

<!-- <ul *ngIf="isListDisplayed">
    <li *ngFor="let song of songList">
        {{song}}
    </li>
</ul> -->

<button (click)="displayList()">Show/Hide guests</button>
<button (click)="vital()">Important ? </button>